@import "tailwindcss";

@theme {
  --background-image-auth-bg: url('/images/dark-nature-blue-bg.png');
}
@layer base{
  body{
    /* background: #0f172a; */
  }
}
@layer components{
  .primary-btn{
    @apply bg-[#1F2937] hover:bg-[#111827] text-white px-16 py-3 rounded-md font-semibold text-sm transition-all shadow-md cursor-pointer
  }
}
@supports (-webkit-touch-callout: none) {
  input,
  textarea,
  select {
    font-size: 16px !important;
  }
}
